<ng-container *ngIf="true; else signIn">
  <button mat-button [matMenuTriggerFor]="menu">
    <div class="user-icon">
      <i class="icon-user"></i>
    </div>
      <span class="user-name">User</span>
      <i class="icon-dropdown"></i>
  </button>
</ng-container>

<ng-template #signIn>
  <button routerLink="/user-managment" class="mat-menu-trigger">
    <div class="user-icon">
      <i class="icon-user"></i>
    </div>
    <span  class="user-login">Sign in</span>
  </button>
</ng-template>

<mat-menu backdropClass="header-menu" #menu="matMenu">
  <button routerLink="/user-managment/user-activity" mat-menu-item>
    <span>Your Activity</span>
    <i class="icon-stats-dots"></i>
  </button>
  <button routerLink="/user-managment/test"mat-menu-item>
    <span>Your Watchlist</span>
    <i class="icon-heart"></i>
  </button>
  <button mat-menu-item>
    <span>Your Rating</span>
    <i class="icon-award1"></i>
  </button>
  <button routerLink="/user-managment/account-settings" mat-menu-item>
    <span>Account Settings</span>
    <i class="icon-cog"></i>
  </button>
  <button routerLink="/home" mat-menu-item>
    <span>Sign Out</span>
    <i class="icon-sign-out"></i>
  </button>
</mat-menu>