<button mat-button [matMenuTriggerFor]="menu">
  <div class="user-icon">
    <i class="icon-user"></i>
  </div>
  <span class="user-name">User</span>
  <i class="icon-dropdown"></i>
</button>
<mat-menu backdropClass="header-menu" #menu="matMenu">
  <button mat-menu-item>
    <span>Your Activity</span>
    <i class="icon-stats-dots"></i>
  </button>
  <button mat-menu-item>
    <span>Your Watchlist</span>
    <i class="icon-heart"></i>
  </button>
  <button mat-menu-item>
    <span>Your Rating</span>
    <i class="icon-award1"></i>
  </button>
  <button mat-menu-item>
    <span>Account Settings</span>
    <i class="icon-cog"></i>
  </button>
  <button mat-menu-item>
    <span>Sign Out</span>
    <i class="icon-sign-out"></i>
  </button>
</mat-menu>