@import '../../../styles/base/variables';
@import '../../../styles/utils/mixin';

.upcoming-wrapper {
    .title {
        color: $gold;
    }

    .explore-all-link {
        font-size: 18px;
        color: $gold;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            background: $gold;
            @include box(0, 1px);
            @include position(absolute, auto, auto, -2px, 0);
            transition: width .3s ease-in;
        }

        &:hover {
            &::after {
                width: 100%;
                transition: width .3s ease-in;
            }
        }
    }
}
