<swiper class="swiper-container" [config]="mainSliderConfig">
  <ng-template swiperSlide *ngFor="let upcomingSlide of upcomingMoviesSlides">
    <a href="#">
      <img class="swiper-image" src="{{backdropUrl + upcomingSlide.backdrop_path}}" alt="{{upcomingSlide.title}}">
      <div class="swiper-mini-poster">
        <span class="add-watchlist-btn">
          <i class="bookmark"></i>
          <i *ngIf="false;" class="icon-plus"></i>
          <i *ngIf="false;" class="icon-check"></i>
          <app-spinner *ngIf="true;"></app-spinner>
        </span>
        <img class="swiper-mini-image" src="{{backdropUrl + upcomingSlide.poster_path}}" alt="{{upcomingSlide.title}}">
      </div>
      <div class="swiper-poster-info">
          <span class="title">{{upcomingSlide.original_title}}</span>
          <span class="short-desc">
            {{upcomingSlide.overview}}
          </span>
          <div class="vote-avage-wrapper">
            <span class="vote-average">{{upcomingSlide.vote_average}}</span>
          </div>
      </div>
    </a>
  </ng-template>
</swiper>
