<div class="upcoming-all">
    <div class="sub-header">
        <span class="movies-counts">20 items</span>
        <ul class="controls-list">
            <li (click)="getColumnsGrid()" *ngIf="isGridSwitching else twoColumnsGrid" class="controls-item">
                <span class="mdb-icon icon-grid"></span>
            </li>
            <ng-template #twoColumnsGrid>
                <li (click)="getColumnsGrid()" class="controls-item">
                    <span class="mdb-icon icon-grid1"></span>
                </li>
            </ng-template>
        </ul>
    </div>
    <div class="card-wrapper" [ngClass]="{'three-columns': !isGridSwitching, 'two-columns': isGridSwitching}">
        <upcoming-card *ngFor="let cardItem of [1,2,3,4,5,6,7,8,9,10]; index as i;"></upcoming-card>
    </div>
    <button class="btn btn-primary show-more-btn">Show more</button>
</div>