@import '../../../../styles/base/variables';
@import '../../../../styles/utils/mixin';

.upcoming-all {
    padding: 5px 20px;

    .sub-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
    }

    .movies-counts {
        font-size: 17px;
    }

    .controls-list {
        display: inline-flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .controls-item {
        background-color: $gold;
        @include max-box(28px, 28px);
        margin-left: 10px;
        cursor: pointer;
    }

    .mdb-icon {
        font-size: 28px;
        color: $black;
    }

    .show-more-btn {
        display: flex;
        margin: 0 auto;
    }
}
