<section class="s-home-screen">
    <main-slider class="c-main-slider"></main-slider>
</section>
<section class="s-upcoming">
    <upcoming-main class="c-upcoming"></upcoming-main>
</section>
<section class="s-now-playing">
    <now-playing class="c-now-playing"></now-playing>
</section>
<section class="s-popular-movies">
    <popular-movies class="c-popular-movies"></popular-movies>
</section>
<section class="s-top-rated-movies">
    <top-rated class="c-top-rated-movies"></top-rated>
</section>
<section class="s-favorite-list" *ngIf="false">
    <favorite-list class="c-favorite-list"></favorite-list>
</section>
