@import "../../../../../styles/base/variables";
@import "../../../../../styles/utils/mixin";
@import "../../../../../styles/utils/functions";

.watchlist-toggle-btn {
    position: absolute;
    left: 3px;
    z-index: 2;
    cursor: pointer;
    background: transparent;
    border: none;
    box-shadow: none;
    width: 37px;
    height: 52px;
    transition: all .8s ease;
    
    .bookmark {
        width: 100%;
        background: rgba($light-black, 1);
        @include position(absolute, 0, auto, auto, 0);
        min-height: 40px;
        z-index: 0;
    }

    .bookmark:before,
    .bookmark:after {
        content: '';
        display: block;
        border: 20px solid transparent;
        border-top-width: 23px;
        border-bottom-width: 11px;
        @include position(absolute, auto, auto, -11px, auto);
        z-index: -1;
    }

    .bookmark:before {
        border-left-color: rgba($light-black, 1);
        left: 0;
    }

    .bookmark:after {
        border-right-color: rgba($light-black, 1);
        right: 0;
    }

    .icon-plus {
        font-size: 14px;
        color: $white;
        @include position(absolute, 50%, auto, auto, 50%);
        transform: translate(-55%, -78%);
        font-weight: 100;
        z-index: 2;
    }

    .icon-check {
        font-size: 26px;
        color: $white;
        @include position(absolute, 50%, auto, auto, 50%);
        transform: translate(-51%, -74%);
    }

    &:hover {

        .icon-plus {
            transition: all .8s ease;
            color: $gold;
        }

        .bookmark {
            background: rgba($dark-gray, 1);
            transition: all .8s ease;

            &::before {
                border-left-color: rgba($dark-gray, 1);
                transition: all .8s ease;
            }

            &::after {
                border-right-color: rgba($dark-gray, 1);
                transition: all .8s ease;
            }
        }
    }

    &.success-bg-btn {

        .bookmark {

            background: rgba($gold, 1);

            &::before {
                border-left-color: rgba($gold, 1);
            }

            &::after {
                 border-right-color: rgba($gold, 1);
            }
        }

        .icon-plus {
            color: $black;
        }

        .icon-check {
            color: $black;
        }

        .spinner {
    
            div {
                border-color: $black transparent transparent transparent;
            }
        }

        &:hover {

            .icon-plus {
                transition: all .8s ease;
            }

            .bookmark {
                background: rgba($medium-gold, 1);
                transition: all .8s ease;

                &::before {
                    border-left-color: rgba($medium-gold, 1);
                    transition: all .8s ease;
                }

                &::after {
                    border-right-color: rgba($medium-gold, 1);
                    transition: all .8s ease;
                }
            }
        }
    }
}