<div class="container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="isExpanded">
      <div mat-button (click)="sidenav.toggle()" class="toggle-button">
        <span class="icon-arrow_forward_ios"></span>
      </div>
      <ul class="sidenav-list">
        <li class="sidenav-list__item">
          <span class="icon-home3 sidenav-list__item-icon"></span>
          <span class="sidenav-list__item-title">Home</span>
        </li>
        <li class="sidenav-list__item">
          <span class="icon-film sidenav-list__item-icon"></span>
          <span class="sidenav-list__item-title">Now Playing</span>
        </li>
        <li class="sidenav-list__item">
          <span class="icon-fire sidenav-list__item-icon"></span>
          <span class="sidenav-list__item-title">Popular Movies</span>
        </li>
        <li class="sidenav-list__item">
          <span class="icon-calendar2 sidenav-list__item-icon"></span>
          <span class="sidenav-list__item-title">Upcoming</span>
        </li>
        <li class="sidenav-list__item">
          <span class="icon-heart sidenav-list__item-icon"></span>
          <span class="sidenav-list__item-title">Favorite List</span>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
  </mat-sidenav-container>
</div>