<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="isExpanded">
    <div mat-button (click)="sidenav.toggle()" class="toggle-button">
      <span class="icon-arrow_forward_ios"></span>
    </div>
    <ul class="sidenav-list">
      <li routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="sidenav-list__item">
        <span class="icon-home3 sidenav-list__item-icon"></span>
        <span class="sidenav-list__item-title">Home</span>
      </li>
      <li routerLink="/home/now-playing" routerLinkActive="active" class="sidenav-list__item">
        <span class="icon-film sidenav-list__item-icon"></span>
        <span class="sidenav-list__item-title">Now Playing</span>
      </li>
      <li routerLink="/home/popular" routerLinkActive="active" class="sidenav-list__item">
        <span class="icon-fire sidenav-list__item-icon"></span>
        <span class="sidenav-list__item-title">Popular Movies</span>
      </li>
      <li routerLink="/home/upcoming" routerLinkActive="active" class="sidenav-list__item">
        <span class="icon-calendar2 sidenav-list__item-icon"></span>
        <span class="sidenav-list__item-title">Upcoming</span>
      </li>
      <li routerLink="/home/top-rated" routerLinkActive="active" class="sidenav-list__item">
        <span class="icon-star-full sidenav-list__item-icon"></span>
        <span class="sidenav-list__item-title">Top Rated</span>
      </li>
      <li routerLink="/home/favorite-list" routerLinkActive="active" class="sidenav-list__item">
        <span class="icon-heart sidenav-list__item-icon"></span>
        <span class="sidenav-list__item-title">Favorite List</span>
      </li>
    </ul>
  </mat-sidenav>
</mat-sidenav-container>