<div class="upcoming-card">
  <div class="upcoming-card__img">
    <img src="../../../../images/slider-poster.jpg" alt="mad max">
  </div>

  <div class="upcoming-card__layout">
    <div class="title">
      <span>Mad Max</span>
    </div>
    <div class="date">
      <span>16.10.2022</span>
    </div>
  </div>

  <div class="upcoming-card__desc">
    <p>
      A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. 
      Their concept catches on, with underground \"fight clubs\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.
    </p>
  </div>

  <div class="watchlist">
      <i class="icon-bookmark"></i>
      <i class="icon-plus"></i>
  </div>
</div>