@import '../base/variables';


// ABSOLUTE POSITIONING
@mixin abs-position ($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//  TEXT TRUNCATE
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// KEYFRAME ANIMATIONS
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

// ADD VENDOR PREFIXES TO ANY CSS PROPERTY
@mixin css3-prefix($prop, $value) {
    -webkit-#{$prop}: #{$value};
    -moz-#{$prop}: #{$value};
    -ms-#{$prop}: #{$value};
    -o-#{$prop}: #{$value};
    #{$prop}: #{$value};
}

// FLEXBOX TOOLKIT
@mixin flex-row($j-content, $al-items) {
    display: flex;
    justify-content: $j-content;
    align-items: $al-items;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@mixin flex-center-vert {
    display: flex;
    align-items: center;
}

@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}

// COVER BACKGROUND
@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// WIDTH BOX
@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

// MIN WIDTH BOX
@mixin min-box($width, $height: $width) {
    min-width: $width;
    min-height: $height;
}

// MAX WIDTH BOX
@mixin max-box($width, $height: $width) {
    max-width: $width;
    max-height: $height;
}


// CENTER BLOCK
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// PSEUDO ELEMENT
@mixin pseudo($width: 100%,
    $height: 100%,
    $display: inline-block,
    $pos: absolute,
    $content: ""

) {
    content: $content;
    display: $display;
    position: $pos;
    @include box($width, $height);
}

// BOX SIZING
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

// BORDER RADIUS
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

// SINGLE BORDER RADIUS
@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}

@mixin border-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}

@mixin border-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}


// BACKGROUND GRADIENT
@mixin gradient($start-color, $end-color, $orientation) {
    background: $start-color;

    @if $orientation =='vertical' {
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: linear-gradient(to bottom, $start-color, $end-color);
    }

    @else if $orientation =='horizontal' {
        background: -webkit-linear-gradient(left, $start-color, $end-color);
        background: linear-gradient(to right, $start-color, $end-color);
    }

    @else {
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
        background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

// BOX SHADOW
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

// MEDIA QUERIES

// $media-extra-sm: 575.98px;
// $media-sm: 767.98px;
// $media-md: 991.98px;
// $media-lg: 1199.98px;
// $media-xl: 1399.98px;

@mixin breakpoint($point) {
    @if $point ==xl {
        @media only screen and (max-width: $media-xl) {
            @content;
        }
    }

    @if $point ==lg {
        @media only screen and (max-width: $media-lg) {
            @content;
        }
    }

    @else if $point ==md {
        @media only screen and (max-width: $media-md) {
            @content;
        }
    }

    @else if $point ==sm {
        @media only screen and (max-width: $media-sm) {
            @content;
        }
    }

    @else if $point ==extra-sm {
        @media only screen and (max-width: $media-extra-sm) {
            @content;
        }
    }
}