@import '../styles/base/variables';
@import '../styles/utils/mixin';

.test-font {
    border: 1px solid;
    font-family: $font-sans-black;
    background-color: $blue;
    @include box-shadow(10px 10px 10px 10px rgba($blue, .5));
    @include gradient($violet, $blue, horizontal);
}

i {
    @include abs-position(5px,auto,auto,200px)
}