<footer class="footer">
  <div class="container">
    <div class="footer-container-inner">
      <!-- logo component -->
      <app-main-logo></app-main-logo>

      <div class="footer-author-code">
        <span class="footer-author-name">© 2022 {{name}}</span>
        <div class="footer-technology">
          <h3 class="footer-technology-title">Built on top of</h3>
          <ul class="footer-technology-list">
            <li class="footer-technology-item" *ngFor="let technologyItem of technology">
              <a class="footer-technology-item-link" 
                 target="_blank" 
                 title="{{ technologyItem.link }}"
                 [href]="technologyItem.link">{{ technologyItem.title }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-privacy-police">
        <a class="footer-privacy-police-link" routerLink="/privacy-police">
          <span>Privacy Policy</span>
        </a>
      </div>

      <div class="footer-github-icon">
        <a [href]="githubLink" target="_blank" class="footer-github-icon-link">
          <i class="icon-github"></i>
        </a>
      </div>
    </div>
  </div>
</footer>