
// Media Query
$media-extra-sm: 575.98px;
$media-sm: 767.98px;
$media-md: 991.98px;
$media-lg: 1199.98px;
$media-xl: 1399.98px;

// Fonts
$main-font: 'source-sans-pro-regular', Arial, sans-serif;
$secondary-font: 'intro-regular', Arial, sans-serif;

$font-extra-light: 'source-sans-pro-extra-light', sans-serif;
$font-extra-light-italic: 'source-sans-pro-extra-light-italic', sans-serif;
$font-light: 'source-sans-pro-light', sans-serif;
$font-light-italic: 'source-sans-pro-light-italic', sans-serif;
$font-italic: 'source-sans-pro-italic', sans-serif;
$font-semibold: 'source-sans-pro-semibold', sans-serif;
$font-semibold-italic: 'source-sans-pro-semibold-italic', sans-serif;
$font-bold: 'source-sans-pro-bold', sans-serif;
$font-bold-italic: 'source-sans-pro-bold-italic', sans-serif;

$font-sans-black: 'source-sans-pro-black', sans-serif;
$font-sans-black-italic: 'source-sans-pro-black-italic', sans-serif;

// Colors
$white: #FFFFFF;
$black: #000000;
$light-black: #1A171E;
$gold: #FFC30D;
$medium-gold: #bc9216;
$violet:#8743FF;
$blue:#4136F1;
$light-blue: #5799EF;
$gray: #8E8E8E;
$med-gray: #535252;
$dark-gray: #292b2c;